header {
	background-color: 	#FFFF66;
	color: darkcyan;  
}
body {
	background: 
}

nav{
	padding: 20px;
}

nav a{
	margin: 150px;
	font-size: 25px
}

nav a:hover {
	font-size: 35px;
	color:lawngreen;
}

p img{
width:100%;
}

p {
   font-size:40px ;
   color:red ;
   text-align:center ;
}

header img {
	font-size:50px ;
}

div  {
	display:flex;
	justify-content:start;
	justify-content:space-between;
	justify-content:space-around;
}

div img {
	width:45%;
	height:300px;
	orphans:0.5;
}

div img:hover  {
    
    
	height: 300px;
}