header {
	background-color: 	#FFFF66;
	color: darkcyan;  
}
body {
	background: 

}

nav{
	padding: 20px;
}

nav a{
	margin: 150px;
	font-size: 25px
}

p img{
width:100%;
}

p {
   font-size:40px ;
   color:red ;
   text-align:center ;
}

header img {
	font-size:50px ;
}